.all-deals-result {
  float: right;
  width: 870px;
  padding-left: 26px;
  border-left: 1px solid $adsBorderColor;
}

.deals-result__counter {
  text-align: right;
  font-size: 40px;
  color: $regularColorLight;
}




