.all-deals {
  background-color: $regularColorUltraLight;
  &:after {
    @extend .clear-self:after;
  }
}

.all-deals__main-holder {
  max-width: $desktopWidth - 30px;
  margin: 0 auto;
  &:after {
    @extend .clear-self:after;
  }
}

