.all-deals-form {
  width: 250px;
  float: left;
  padding-top: 45px;
}

.all-deals-form__header {
  color: $regularColorLight;
  font-size: 40px;
  padding-bottom: 33px;
}

.all-deals-form__header-mobile {
  display: none;
  position: absolute;
  left: 0;
  right: 0;
  top: 75px;
  color: $regularColorLight;
  background-color: $regularColorUltraLight;
  border: 1px solid $adsBorderColor;
  font-size: 28px;
  padding: 16px 15px 11px;
}

.all-deals-form__mobile-close {
  display: block;
  background-image: url(../i/form/cross.svg);
  float: right;
  width: 61px;
  height: 61px;
  background-size: 17px;
  position: absolute;
  top: 0;
  right: 0;
  background-repeat: no-repeat;
  background-position: center;
  border-left: 1px solid $adsBorderColor;
}

.deals-form-section__reset-all {
  font-size: 14px;
  margin-top: 23px;
  float: right;
  text-decoration: underline;
}

.deals-form-section {
  padding-bottom: 16px;
  display: block;
  border: none;
}

.deals-form-section__header {
  color: $regularColorLight;
  font-size: 18px;
  text-transform: uppercase;
  padding-bottom: 12px;
  margin-bottom: 10px;
}

.deals-form-section__reset-section {
  cursor: pointer;
  background-image: url(../i/point-card/cross.svg);
  background-repeat: no-repeat;
  float: right;
  width: 25px;
  height: 25px;
  opacity: 0.5;
  background-position: center center;
  background-size: 25px;
  position: relative;
  top: -2px;
  right: -5px;
}

.deals-form-section__select,
.deals-form-section__checkboxradio {
  float: right;
}

/* override jq css */
/* I hate override jq's styles!!! F*****CK!!! */
.deals-form-section__label {

  text-indent: 4px;
  font-size: 16px;
  display: block;
  width: 100%;
  clear: both;
  padding: 0 0 13px 0px;
  text-align: left;

  .ui-checkboxradio-icon {
    float: right;
    width: 23px;
    height: 23px;
    background-repeat: no-repeat;
    border-radius: 4px;
    background-color: #fff;
    border: 1px solid $adsBorderColor;
    position: relative;
    top: -1px;
    right: -2px;
    box-shadow: none;
    background-size: 27px;
    background-position: center;
    &.ui-state-checked {
      background-image: url(../i/form/tick.svg);
      border-color: $regularColor;
      border-width: 2px;
      top: -2px;
      right: -3px;
    }
  }

  .ui-checkboxradio-icon-space {
    display: none;
  }

  .ui-selectmenu-button.ui-button {
    color: $regularColorLight;
    border: 2px solid $regularColorLight;
    background-color: #fff;
    float: right;
    width: 46px;
    position: relative;
    border-radius: 5px;
    top: -5px;
    right: -2px;
    height: 21px;
    padding: 0;
    margin: 0;
    .ui-selectmenu-icon.ui-icon {
      opacity: 0.5;
    }
    &.ui-selectmenu-button-open,
    &:focus.ui-selectmenu-button-open {
      border-bottom: none;
      border-bottom-right-radius: 0;
      border-bottom-left-radius: 0;
    }
    &:focus {
      border: 2px solid $regularColor;
      color: $regularColor;
      .ui-selectmenu-icon.ui-icon {
        opacity: 1;
      }
      outline: none;
    }

  }
  .ui-selectmenu-text {
    display: block;
    margin: 0;
    padding: 0;
    font-size: 17px;
    text-indent: 6px;
  }
  .ui-selectmenu-icon.ui-icon {
    background-image: url(../i/arrows/dropdown-arrow-down.svg);
    background-repeat: no-repeat;
    float: right;
    height: 100%;
    text-indent: 0;
    width: 20px;
    background-position: center;
    background-size: 14px;
  }

}

.ui-selectmenu-menu {
  width: 46px;
  background-color: #fff;
  border: 2px solid $regularColor;
  border-top: none;
  padding-top: 2px;
  margin-top: -2px;
  border-top-right-radius: 0;
  border-top-left-radius: 0;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;

}

.ui-menu-item-wrapper {
  color: $regularColorLight;
}

.ui-menu-item-wrapper.ui-state-active {
  color: $regularColor;
  background-color: $regularColorUltraLight;
  margin: 0;
  display: block;
  width: 21px;
  padding-left: 3.5px;
  margin-left: 3px;
}

.ui-selectmenu-menu.ui-menu {
  padding-bottom: 2px;
}

/* override ion.rangeSlider.css */
/* I hate override css :( */
.irs-bar {
  background-image: none;
  background-color: $regularColor;
  height: 5px;
  border: none;
}

.irs-line {
  display: block;
  height: 5px;
  border: none;
  border-radius: 0;
  box-shadow: none;
  background-image: none;
  background-color: $adsBorderColor;
  overflow: hidden;
}

.irs-slider {
  &.to,
  &.from {
    display: block;
    width: 5px;
    box-shadow: none;
    border: none;
    background-color: $regularColor;
    background-image: none;
    border-radius: 0;
    height: 15px;
    margin-top: 3px;
  }
}

.irs-from,
.irs-to,
.irs-single {
  background-color: transparent;
  font-weight: bold;
  padding: 1px;
  color: $regularColor;
}

.irs-min,
.irs-max {
  display: none;
}

.irs-range-input {
  display: none;
}

.all-deals-form__mobile-fade {
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.3);
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  display: none;
}

@media only screen and (max-width: $desktopWidth) { /* $desktopMediaWidth */

  .all-deals-form {
    position: absolute;
    z-index: 2;
    top: 0;
    left: 0;
    background-color: #fff;
    width: 320px;
    padding: 156px 20px 500px;
    box-sizing: border-box;
    transition: 0.5s transform cubic-bezier(0.65, 0.05, 0.36, 1);
    transform: translate3d(-100%, 0, 0);
    border-bottom-right-radius: 20px;
    &.all-deals-form--mobile-open {
      transform: translate3d(0, 0, 0);
    }
  }

  .all-deals-form__header-mobile {
    display: block;
  }

  .all-deals-form__mobile-fade {
    &.all-deals-form__mobile-fade--visible {
      display: block;
    }
  }

  .deals-form-section__label {
    .ui-checkboxradio-icon {
      float: left;
      margin-right: 7px;
      margin-top: -3px;
      &.ui-state-checked {
        margin-right: 5px;
        right: auto;
        left: 1px;
      }
    }
  }

  .deals-form-section__reset-section {
    display: none;
  }

  .deals-form-section__header {
    background-image: url(../i/arrows/arrow-big-up-gray.svg);
    background-repeat: no-repeat;
    background-position: right top;
    background-size: 10px 10px;
    margin-bottom: 0;
  }

  .deals-form-section {
    padding-bottom: 5px;
    .deals-form-section__show-hide-part {
      display: none;
    }
    &.deals-form-section--mobile-open {
      margin-bottom: 10px;
      .deals-form-section__show-hide-part {
        display: block;
      }
      .deals-form-section__header {
        padding-bottom: 12px;
        background-image: url(../i/arrows/arrow-big-down-gray.svg);
      }
    }
  }

}









