.all-dials-form {
  display: block; 
  width: 250px;
    margin: 0 340px;
}

.all-dials-form__header {
  color: $regularColorLight;
  font-size: 40px;
  padding-bottom: 33px;   
}

.dials-form-section__reset-all {
  font-size: 14px;
  margin-top: 23px; 
  float: right;
  text-decoration: underline;
}

.dials-form-section {
  padding-bottom: 16px;
}

.dials-form-section__header {
  color: $regularColorLight;
  font-size: 18px;
  text-transform: uppercase;
  padding-bottom: 22px;
}

.dials-form-section__reset-section {
    background-image: url(../i/point-card/cross.svg);
    background-repeat: no-repeat;
    float: right;
    width: 25px;
    height: 25px;
    opacity: 0.5;
    background-position: center center;
    background-size: 25px;
    position: relative;
    top: -2px;
    right: -5px;
}

.dials-form-section__select,
.dials-form-section__checkboxradio {
  float: right;
}

/* override jq css */
/* I hate override jq's styles!!! F*****CK!!! */
.dials-form-section__label {

  text-indent: 4px;
  font-size: 16px;
  display: block;
  width: 100%;
  clear: both;
  padding: 0 0 13px 0px;
  text-align: left;    

  .ui-checkboxradio-icon {
    float: right;
    width: 23px;
    height: 23px;
    background-repeat: no-repeat;
    border-radius: 4px;
    background-color: #fff;
    border: 1px solid $adsBorderColor;
    position: relative;
    top: -1px;
    right: -2px;
    box-shadow: none;
    background-size: 27px;
    background-position: center;
    &.ui-state-checked {
      background-image: url(../i/form/tick.svg);
      border-color: $regularColor;
      border-width: 2px;
      top: -2px;
      right: -3px;
    }
  }

  .ui-checkboxradio-icon-space {
    display: none;
  }

  .ui-selectmenu-button.ui-button {
      color: $regularColorLight;
      border: 2px solid $regularColorLight;
      background-color: #fff;
      float: right;
      width: 46px;
      position: relative;
      border-radius: 5px;
      top: -5px;
      right: -2px;
      height: 21px;
      padding: 0;
      margin: 0;
      .ui-selectmenu-icon.ui-icon {
        opacity: 0.5;
      }
    &.ui-selectmenu-button-open,
    &:focus.ui-selectmenu-button-open {
      border-bottom: none;
      border-bottom-right-radius: 0;
        border-bottom-left-radius: 0;
        }
      &:focus {
        border: 2px solid $regularColor;
        color: $regularColor;
        .ui-selectmenu-icon.ui-icon {
          opacity: 1;
        }
        outline: none;
      }
    

  }
  .ui-selectmenu-text {
      display: block;
      margin: 0;
      padding: 0;
      font-size: 17px;
      text-indent: 6px;
  }
  .ui-selectmenu-icon.ui-icon {
      background-image: url(../i/form/dropdown-arrow-down-black.svg);
      background-repeat: no-repeat;
      float: right;
      height: 100%;
      text-indent: 0;
      width: 20px;
      background-position: center;
      background-size: 20px;
  }

}

.ui-selectmenu-menu {
  width: 46px;
  background-color: #fff;
    border: 2px solid $regularColor;
  border-top: none;
  padding-top: 2px;
  margin-top: -2px;
  border-top-right-radius: 0;
  border-top-left-radius: 0;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;

}

.ui-menu-item-wrapper {
  color: $regularColorLight;
}

.ui-menu-item-wrapper.ui-state-active {
  color: $regularColor;
  background-color: $regularColorUltraLight;
  margin: 0;
  display: block;
  width: 21px;
  padding-left: 3.5px;
  margin-left: 3px;
}

.ui-selectmenu-menu.ui-menu {
  padding-bottom: 2px;
}

















