.all-deals-result {
  float: right;
  width: 870px;
  padding-left: 26px;
  border-left: 1px solid $adsBorderColor;
  padding-top: 45px;
  padding-bottom: 59px;
}

.deals-result__counter {
  text-align: right;
  font-size: 40px;
  color: $regularColorLight;
  padding-bottom: 32px;
}

.deals-result-card {
  clear: both;
  display: block;
  height: 220px;
  margin-bottom: 20px;
  padding-right: 20px;
  position: relative;
  background-color: #fff;
  color: $regularColor;
  text-decoration: none;
  @extend .card-shadow;
}

.deals-result-card__photo {
  float: left;
  width: 371px;
  height: 100%;
  margin-right: 29px;
}

.deals-result-card__cost {
  padding-top: 23px;
  font-size: 14px;
}

.deals-result-card__header {
  font-size: 28px;
  padding-top: 21px;
}

.deals-result-card__tags-holder {
  position: absolute;
  left: 400px;
  bottom: 49px;
  &:after {
    @extend .clear-self:after;
  }
}

.deals-result-card__tag {
  @extend .region-things-to-do-card__theme-mark;
  position: static;
  display: inline-block;
  margin-right: 10px;
}

.deals-result-card__offer-ends {
  font-size: 14px;
  position: absolute;
  left: 400px;
  bottom: 17px;
}

.all-deals-result__counter-filter-icon {
  display: none;
  background-image: url(../i/form/filter-gray.svg);
  background-position: center center;
  background-repeat: no-repeat;
  width: 61px;
  height: 61px;
  float: right;
  position: absolute;
  right: 0;
  top: 0;
  border-left: 1px solid $adsBorderColor;
}

.deals-result__filtered-describe {
  display: none;
  font-size: 14px;
  color: $regularColorLight;
  padding: 0 20px;
}

.deals-result__filtered-describe--bold {
  font-weight: bold;
}

.deals-result__clear-filtered {
  display: none;
  float: left;
  text-decoration: none;
  color: #6cb7ca;
  text-transform: uppercase;
  font-size: 14px;
  padding: 10px 20px 18px;
  font-weight: bold;
}

@media only screen and (max-width: $desktopWidth) { /* $desktopMediaWidth */

  .all-deals-result {
    padding: 0;
    width: auto;
    float: none;
    border-left: none;
  }

  .deals-result__counter {
    position: relative;
    font-size: 28px;
    padding: 16px 15px 11px;
    text-align: left;
    border: 1px solid $adsBorderColor;
    margin-bottom: 20px;
  }

  .deals-result-card {
    width: auto;
    height: auto;
    margin: 15px 15px 20px;
    float: none;
    padding-right: 0;
  }

  .deals-result-card__photo {
    display: block;
    float: none;
    width: 100%;
    height: auto;
  }

  .deals-result-card__header,
  .deals-result-card__cost,
  .deals-result-card__tags-holder,
  .deals-result-card__offer-ends {
    padding-left: 20px;
    padding-right: 15px;
  }

  .deals-result-card__cost {
    font-size: 14px;
    font-weight: bold;
    padding-top: 18px;
    padding-bottom: 5px;
    .family-deals-card__included-icon {
      height: 15px;
      margin-left: 8px;
    }
  }

  .deals-result-card__header {
    font-size: 22px;
    padding-top: 6px;
    padding-bottom: 28px;
  }

  .deals-result-card__tags-holder {
    position: static;
    padding-bottom: 11px;
    .deals-result-card__tag {
      font-size: 12px;
    }
  }

  .deals-result-card__offer-ends {
    clear: both;
    position: static;
    padding-bottom: 20px;
  }

  .all-deals-result__counter-filter-icon {
    display: block;
  }

  .deals-result__filtered-describe {
    display: block;
  }

  .deals-result__clear-filtered {
    display: block;
  }

  .all-deals-form__header {
    display: none;
  }

}
