.deal-promo-media {
  border-bottom: 1px solid $adsBorderColor;
  padding-bottom: 51px;
  &:after {
    @extend .clear-self:after;
  }
}

.deal-promo-media__card-holder {
  @extend .regular-wrapper;
  padding: 0;
  text-align: left;
  max-width: $desktopWidth;
  padding-bottom: 22px;
  &:after {
    @extend .clear-self:after;
  }
}

.deal-promo-media-card {
  position: relative;
  float: left;
  margin: 0 10px;
}

.deal-promo-media-card__photo {
  display: block;
  width: 271px;
  height: 160px;
  padding-bottom: 11px;
}

.deal-promo-media-card-description {
  font-size: 17px;
}

.deal-promo-media-card-description__icon {
  position: relative;
  top: 6px;
  margin-right: 12px;
}

.deal-promo-media-card__play-icon {
  position: absolute;
  top: 41px;
  left: 100px;
}






