.deal-header {
  @extend .regular-wrapper;
  text-align: left;
  padding-top: 144px;
  padding-bottom: 57px;
  &:after {
    @extend .clear-self:after;
  }
}

.deal-header__tags-holder {
  padding-bottom: 20px;
  &:after {
    @extend .clear-self:after;
  }
}

.deal-header__tag {
  @extend .region-things-to-do-card__theme-mark;
  display: inline-block;
  margin-right: 10px;
  position: static;
  float: none;
}

.deal-header__point-name {
  font-size: 80px;
  font-weight: bold;
  padding-bottom: 30px;
}

.deal-header__point-short-description {
  font-size: 18px;
  line-height: 26px;
  padding-bottom: 23px;
}

.deal-header__view-options {
  font-size: 16px;
  font-weight: bold;
  text-transform: uppercase;
  color: $showHideArrow;
  text-decoration: none;
  background-image: url(../i/deal/arrow-orange-bottom.png);
  background-repeat: no-repeat;
  padding-right: 24px;
  background-position: right 3px;
}

@media only screen and (max-width: $desktopWidth) { /* $desktopMediaWidth */

  .deal-header {
    padding: 82px 10px 26px;
    text-align: center;
  }

  .deal-header__tags-holder {
    text-align: center;
    padding-bottom: 15px;
  }

  .deal-header__tag {
    margin: 5px;
    font-size: 12px;
  }

  .deal-header__point-name {
    font-size: 50px;
    padding-bottom: 4px;
  }

  .deal-header__view-options {
    display: inline-block;
    margin: 0 auto;
  }

}































