.deal-options {
	float: left;
}

.deal-options__main-header {
	font-size: 18px;
}

.deal-option__head-line {
	font-size: 26px;
}

.deal-option-card__cost {
	font-size: 50px;
}

.deal-option-card__buy-now {
	font-size: 24px;
}

.deal-option-card__valued-up {
	font-size: 14px;
}

.deal-option-card__short-info {
	font-size: 16px;
}

.deal-option-card__descriptions {
	font-size: 16px;
}
