.deal-wrapper {
  max-width: $desktopWidth - 30px;
  margin: 0 auto;
  padding-bottom: 124px;
  &:after {
    @extend .clear-self:after;
  }
}

.deal-options {
  float: left;
  padding: 14px 0 0 0;
  &:after {
    @extend .clear-self:after;
  }
}

.deal-options__main-header {
  font-size: 18px;
  color: $regularColorLight;
  text-transform: uppercase;
}

.deal-options__main-header-text-icon {
  width: 26px;
  height: 26px;
  position: relative;
  top: 6px;
}

.deal-option {
  margin: 24px 0 40px 4px;
}

.deal-option__head-line {
  font-size: 26px;
  background-color: $regularColorUltraLight;
  padding: 20px 26px 11px;
  color: $regularColorLight;
  position: relative;
  z-index: 1;
}

.deal-option-card {
  padding: 25px 25px 15px;
  width: 320px;
  position: relative;
  @extend .card-shadow;
}

.deal-option-card__cost {
  font-size: 50px;
}

.deal-option-card__buy-now {
  color: #fff;
  font-size: 24px;
  text-transform: uppercase;
  position: absolute;
  right: 27px;
  top: 30px;
  background-color: $showHideArrow;
  border-radius: 6px;
  padding: 16px 20px;
}

.deal-option-card__valued-up {
  font-size: 14px;
  color: $regularColorLight;
  display: block;
  padding-bottom: 27px;
}

.deal-option-card-short-info__icon {
  width: 31px;
  height: 31px;
  position: absolute;
  left: -5px;
  top: -6px;
}

.deal-option-card__short-info {
  font-size: 16px;
  position: relative;
  padding: 0 0 7px 33px;
}

.deal-option-card__descriptions {
  font-size: 16px;
  padding-bottom: 5px;
  line-height: 20px;
}

.deal-option-card__descriptions--bold {
  font-weight: bold;
}

.deal-option-card__details {
  padding-top: 8px;
}

.deal-option-card__show-hide-details {
  display: none;
  font-size: 16px;
  color: $regularColorLight;
  text-transform: uppercase;
}

/*
.deal-option-card__show-hide-details--show {
  //display: block;
}

.deal-option-card__show-hide-details--hide {
  //display: block;
}

.deal-option-card__details-interactive-block {
  //display: block;
}
*/

@media only screen and (max-width: $desktopWidth) { /* $desktopMediaWidth */

  .deal-wrapper {
    width: auto;
    max-width: 100%;
    padding-bottom: 0;
  }

  .deal-options {
    float: none;
  }

  .deal-option {
    margin: 0;
    background-color: $regularColorUltraLight;
    padding-bottom: 15px;
    border-bottom: 1px solid $adsBorderColor;
  }

  .deal-options__main-header {
    text-align: center;
    padding-bottom: 22px;
  }

  .deal-option__head-line {
    font-size: 22px;
    margin-bottom: 5px;
    padding-left: 13px;
    padding-right: 13px;
  }

  .deal-option-card {
    width: auto;
    margin-left: 10px;
    margin-right: 10px;
    background-color: #fff;
  }

  /* show-hide interactive block */

  /* default state */
  .deal-option-card__details-interactive-block {
    display: none;
  }

  .deal-option-card__show-hide-details--show {
    display: block;
  }

  .deal-option-card__show-hide-details--hide {
    display: none;
  }

  /* show details clicked state */
  .deal-option-card__details--show-interactive-block {

    .deal-option-card__details-interactive-block {
      display: block;
    }

    .deal-option-card__show-hide-details--show {
      display: none;
    }

    .deal-option-card__show-hide-details--hide {
      display: block;
    }

  }

}



