.family-deals {
  @extend .places-to-go;
}

.family-deals__header {
  @extend .places-to-go__header;
}

.family-deals__load-more {
  @extend .places-to-go__load-more;
}

.family-deals__card-holder {
  width: $desctopWidth;
  margin: 0 auto;
  &:after {
    @extend .clear-self:after;
  }
}

.family-deals-card {
  width: 270px;
  height: 320px;
  position: relative;
  float: left;
  overflow: hidden;
  margin: 5px 15px;
  transform: translate3d(0, 0, 0);
  @extend .card-shadow;
}

.family-deals-card__deal-icon {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  transition: 0.4s all linear;
}

.family-deals-card__point-photo {
  display: block;
  width: 100%;
  margin-bottom: 21px;
  transition: 0.3s all linear;
}

.family-deals-card__cost {
  text-align: left;
  font-size: 14px;
  padding: 0 28px 16px;
}

.family-deals-card__included-icon {
  display: inline-block;
  position: relative;
  top: 3px;
  margin: 0 5px 0 7px;
}

.family-deals-card__header {
  text-align: left;
  font-size: 28px;
  padding: 0 28px 8px;
}

.family-deals-card__paragraph {
  font-size: 17px;
  padding: 0 28px 24px;
  text-align: left;
  line-height: 22px;
  opacity: 0;
  transition: 0.4s opacity linear;
}

.family-deals-card__see-deal {
  display: block;
  text-decoration: none;
  color: #fff;
  background-color: $buttonColor;
  margin: 0 26px 10px;
  padding: 7px 10px;
  text-transform: uppercase;
  font-size: 18px;
}

.family-deals-card__see-full-itinerary {
  @extend .family-deals-card__see-deal;
  margin-top: 32px;
}

.family-deals-card__offer-ends {
  font-size: 16px;
}

.family-deals-card:hover {

  .family-deals-card__paragraph {
    opacity: 1;
  }

  .family-deals-card__deal-icon {
    transform: translate3d(0, -100%, 0);
  }

  .family-deals-card__point-photo {
    margin-top: -160px;
  }

}

.family-deals-card--ad {
  background-color: $adsBackgroundColor;
  border: 1px solid $adsBorderColor;
  width: 248px;
  height: 298px;
  padding: 10px;
}

.family-deals-card-ad__img {
  display: block;
  width: 100%;
}

.family-deals-card-ad__paragraph {
  color: $adsTextColor;
  font-size: 14px;
  position: absolute;
  bottom: 7px;
  left: 1px;
  text-transform: uppercase;
  text-align: center;
  width: 100%;
}

@media only screen and (max-width: $desctopWidth) { /* $desctopMediaWidth */

  .family-deals-card {
    margin: 5px;
  }
}



