.footer {
  height: 140px;
  background-color: $buttonColor;
  clear: both;
  .regular-wrapper {
    height: 100%;
  }
  &:after {
    @extend .clear-self:after;
  }
}

.footer__logo {
  float: right;
  width: 108px;
  height: 101px;
  text-indent: -300px;
  overflow: hidden;
  background-image: url(../i/footer/clear-logo.png);
  position: relative;
  top: 16px;
  left: 34px;
}

.footer__links-holder {
  padding-top: 27px;
  &:after {
    @extend .clear-self:after;
  }
}

.footer__link {
  font-size: 20px;
  text-decoration: none;
  color: #fff;
  margin-right: 38px;
}

.footer__copyright {
  position: absolute;
  bottom: 39px;
  font-size: 16px;
}

@media only screen and (max-width: $desktopWidth) { /* $desktopMediaWidth */

  .footer {
    height: auto;
  }

  .footer__links-holder {
    padding-top: 14px;
    padding-bottom: 43px;
  }

  .footer__copyright {
    bottom: 10px;
    left: 15px;
    font-size: 14px;
  }

  .footer__logo {
    background-size: contain;
    width: 85px;
    background-repeat: no-repeat;
    top: 22px;
    right: 18px;
    left: auto;
  }

  .footer__link {
    float: left;
    clear: left;
    font-size: 16px;
    padding: 3px 15px;
  }

}

