.header-menu {
  display: block;
  height: 108px;
  position: fixed;
  width: 100%;
  left: 0;
  top: 0;
  background-image: url(../i/header-menu/header-bg.png);
  background-repeat: repeat-x;
  z-index: 5;
}

.header-menu-mobile {
  display: none;
}

.header-menu__logo {
  background-image: url(../i/header-menu/logo.png);
  float: left;
  width: 108px;
  height: 114px;
  text-indent: -300px;
  overflow: hidden;
  margin-right: 9px;
}

.header-menu__link {
  text-transform: uppercase;
  color: $regularColor;
  text-decoration: none;
  margin-top: 24px;
  padding: 7px 9px;
  float: left;
  font-size: 17px;
  line-height: 21px;
  letter-spacing: -0.5px;
  background-repeat: no-repeat;
}

.header-menu__link--drop-down {
  background-image: url(../i/header-menu/dropdown-arrow.svg);
  background-position: right 3px;
  background-size: 28px 28px;
  padding-right: 27px;
  margin-right: 9px;
}

.header-menu__link--no-addon {
  padding-right: 27px;
}

.header-menu__link--galleries {
  background-position: 3px 0;
  background-image: url(../i/header-menu/galleries-icon.png);
  padding-left: 39px;
}

.header-menu__link--videos {
  background-position: 3px 0;
  background-image: url(../i/header-menu/videos-icon.png);
  padding-left: 39px;
}


.header-menu__link--join {
  border: 2px solid #6ab8c5;
  padding: 5px 24px 4px 22px;
  float: right;
  border-radius: 6px;
}


.header-search {
  float: left;
  padding: 18px 12px 0 16px;
}

.header-search__input {
  display: block;
  background-color: $regularColorUltraLight;
  font-size: 17px;
  line-height: 21px;
  letter-spacing: -0.5px;
  border: none;
  border-radius: 6px;
  padding: 13px 39px 9px 17px;
  width: 292px;
  background-image: url(../i/header-menu/search-icon.png);
  background-repeat: no-repeat;
  background-position: 307px 8px;
}

@media only screen and (max-width: $desctopWidth) { /* $desctopMediaWidth */
  
  .header-menu-mobile {
    display: block;
    background-image: url(../i/header-menu/header-bg.png);
    width: 100%;
    height: 200px;
    background-size: 1px 51px;
    background-repeat: repeat-x;
    position: absolute;
    top: 0;
    left: 0;
  }

  .header-menu {
    display: none;
  }

  .header-menu__logo {
    width: 75px;
    background-size: contain;
    background-repeat: no-repeat;
    margin-left: 8px;
    background-position: 0 -5px;
  }
  
  .header-menu-mobile__menu {
    float: right;
    background-image: url(../i/header-menu/mobile-menu-button.png);
    background-repeat: no-repeat;
    background-position: 10px 15px;
    width: 46px;
    height: 46px;
  }

  .header-menu-mobile__search {
    float: right;
    background-image: url(../i/header-menu/mobile-search-button.png);
    background-repeat: no-repeat;
    background-position: 14px 12px;
    width: 46px;
    height: 46px;
  }
  
  .header-menu-mobile__login {
    float: right;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 14px;
    padding: 18px 3px 5px;
    color: $regularColor;
  }

}








