.horizontal-slider__arrows-holder {
  position: absolute;
  right: 28px;
  top: 85px;
  width: 140px;
  height: 40px;
  z-index: 2;
}

.horizontal-slider__left-arrow,
.horizontal-slider__right-arrow {
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 40px 41px;
  width: 40px;
  height: 41px;
  cursor: pointer;
}

.horizontal-slider__left-arrow {
  float: left;
  background-image: url(../i/slider/slider-arrow-left.png);
  &.swiper-button-disabled {
    background-image: url(../i/slider/slider-arrow-left-disable.png);
  }
}

.horizontal-slider__right-arrow {
  float: right;
  background-image: url(../i/slider/slider-arrow-right.png);
  &.swiper-button-disabled {
    background-image: url(../i/slider/slider-arrow-right-disable.png);
  }
}

.horizontal-slider__slides-holder {
  &:after {
    @extend .clear-self:after;
  }
}

.horizontal-slider__slide {
  //float: left;
  max-width: $desktopWidth / 2 - 30px;
  margin: 0 15px;
  padding-bottom: 15px;
  &:after {
    @extend .clear-self:after;
  }
}

@media only screen and (max-width: $desktopWidth) { /* $desktopMediaWidth */

  .horizontal-slider__slide {
    margin: 0;
    width: 90%;
    padding: 0;
    box-sizing: border-box;
  }

  .horizontal-slider__arrows-holder {
    display: none;
  }

}
