.local-navigation {
  @extend .regular-wrapper;
  border-bottom: 1px solid $regularColorUltraLight;
  text-align: center;
  margin-bottom: 55px;
  .swiper-wrapper {
    //display: block;
  }
  .swiper-slide {
    //display: inline-block;
  }

}

.local-navigation__link {
  font-size: 17px;
  line-height: 20px;
  padding: 23px 21px 16px;
  text-decoration: none;
  color: $regularColor;
  text-transform: uppercase;
  white-space: nowrap;
  width: auto;
  display: inline-block;
}

.local-navigation__link:hover {
  background-color: #f5f5f5;
}

@media only screen and (max-width: $desktopWidth) { /* $desktopMediaWidth */

  .local-navigation {
    margin-bottom: 9px;
  }

}



