.promo-text {
  @extend .regular-wrapper;
  text-align: center;
  padding-bottom: 42px;
}

.promo-text__paragraph {
  font-size: 22px;
  line-height: 34px;
}

.promo-text__read-more {
  @extend .places-to-go__load-more;
}

@media only screen and (max-width: $desktopWidth) { /* $desktopMediaWidth */

  .promo-text {
    padding-bottom: 8px;
    .promo-text__read-more {
      display: inline-block;
      margin-top: 0;
    }
  }

  .promo-text__paragraph {
    font-size: 17px;
    line-height: 25px;
    padding: 0 10px;
  }

  .promo-text__read-more {
    padding: 20px;
  }

}
