
.promo-map {
  position: relative;
  height: 580px;
  width: 90%;
  margin: 0 auto;
}

.google-promo-map {
  display: block;
  width: 100%;
  height: 100%;
}

.region-map-point {
  display: block;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
  border-radius: 100%;
}

.map-point-hovered {
  img {
    border-radius: 50%;
  }
}

  /*
  .promo-map__placeholder {
    display: block;
    max-width: 100%;
    margin: 0 auto;
  }
  */

.point-card {
  position: absolute;
  padding: 18px 16px;
  top: 20px;
  left: 50%;
  height: 484px;
  width: 337px;
  background-color: #fff;
  margin-left: -585px;

  .scroll-area {
    margin-top: 19px;
    height: 248px;
  }

  .scroll-area__content {
    display: block;
  }

}

.point-card__header {
  font-size: 18px;
  background-image: url(../i/point-card/pin.png);
  background-repeat: no-repeat;
  text-transform: uppercase;
  padding: 4px 0 13px 34px;
  margin-right: 32px;
  background-size: 21px;
  background-position: 2px 1px;
}

.point-card__close {
  background-image: url(../i/point-card/cross.svg);
  background-repeat: no-repeat;
  position: absolute;
  right: 6px;
  top: 6px;
  width: 42px;
  height: 42px;
  background-size: cover;
  opacity: 0.5;
}

.point-card__local-header {
  font-size: 50px;
  font-weight: bold;
  font-family: signika-semibold, sans-serif;
  padding-bottom: 13px;
}

.point-card__local-description {
  display: block;
  font-size: 17px;
  line-height: 22px;
}

.card-go-to {
  position: absolute;
  bottom: 0;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 17px;
  color: $regularColor;
  padding: 21px 0;
  left: 0;
  width: 100%;
  background-repeat: no-repeat;
  background-color: #fff;
  border-top: 1px solid $regularColorUltraLight;
  background-position: 327px 25px;
  background-size: 13px;
  background-image: url(../i/point-card/next.png);
}

.card-go-to__text {
  letter-spacing: -0.5px;
}

.card-go-to__text--go-to {
  padding-left: 29px;
  color: $regularColorLighter;
}

.region-preview-item {
  margin: 7px 0 3px;
  @extend .card-shadow;
  &:after {
    @extend .clear-self:after;
  }
}

.region-preview-item__image {
  float: left;
  width: 125px;
  height: 100px;
  margin-right: 17px;
}

.region-preview-item__header {
  padding-top: 12px;
  font-size: 14px;
}

.region-preview-item__paragraph {
  font-size: 22px;
}

@media only screen and (max-width: $desktopWidth) { /* $desktopMediaWidth */

  .promo-map {
    display: none;
  }

}



