.promo-text {
    @extend .regular-wrapper;
    font-family: Tahoma, sans-serif;
    text-align: center;
    padding-bottom: 42px;
}

.promo-text__paragraph {
    font-size: 22px;
    line-height: 34px;
}

.promo-text__read-more {
    display: inline-block;
    margin: 0 auto;
    color: #959595;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 15px;
    font-weight: bold;
    padding: 25px;
}

