
.promo-map {
  position: relative;
}

.promo-map__placeholder {
  display: block;
  max-width: 100%;
  margin: 0 auto;
}

.point-card {
  position: absolute;
  padding: 18px 16px;
  top: 20px;
  left: 50%;
  height: 484px;
  width: 337px;
  background-color: #fff;
  margin-left: -585px;
}

.point-card__header {
  font-size: 18px;
  background-image: url(../i/point-card/pin.svg);
  background-repeat: no-repeat;
  text-transform: uppercase;
  padding: 4px 0 13px 34px;
  margin-right: 32px;
  background-size: 49px;
  background-position: -12px -10px;
}

.point-card__close {
  background-image: url(../i/point-card/cross.svg);
  background-repeat: no-repeat;
  position: absolute;
  right: 6px;
  top: 6px;
  width: 42px;
  height: 42px;
  background-size: cover;
}

.point-card__local-header {
  font-size: 50px;
  font-weight: bold;
  font-family: signika-semibold, sans-serif;
  padding-bottom: 13px;
}

.point-card__local-description {
  display: block;
  font-size: 17px;
  line-height: 22px;
}













