.promo-header {
  /* do not remove me
    background-image: url(../img/promo-header/region-promo-header.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
  */
  height: 680px;
  position: relative;
  overflow: hidden; /* IE-workaround */
}

.promo-header__background {
  position: absolute;
  z-index: 0;
  height: 100%;
  width: auto;
  left: 50%;
  transform: translate3d(-50%, 0, 0);
}

.promo-header__header {
  text-align: center;
  color: #fff;
  width: 86%;
  font-size: 115px;
  line-height: 130px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate3d(-50%, -50%, 0);
  font-weight: bold;
  z-index: 1;
}


@media only screen and (max-width: $desctopWidth) { /* $desctopMediaWidth */
  
  .promo-header__header {
    font-size: 47px;
    top: 53%;
  }
  .promo-header {
    height: 420px;
  }

}

