.story-card {
  padding: 20px 27px 31px;
  width: 515px;
  background-color: #fff;
  float: left;
  margin: 5px 15px 12px;
  @extend .card-shadow;
}

.story-card__headline {
  padding-bottom: 23px;
  &:after {
    @extend .clear-self:after;
  }
}

.story-card__author-avatar {
  border-radius: 20px;
  width: 40px;
  height: 40px;
  float: left;
  margin-right: 8px;
}

.story-card__author-nick {
  float: left;
  font-size: 18px;
  padding-top: 9px;
  color: $regularColorLighter;

}

.story-card__last-update {
  @extend .story-card__author-nick;
  color: $regularColorLighter;
  float: right;
}

.story-card__header {
  color: $buttonColor;
  font-size: 24px;
  text-align: left;
  padding-bottom: 10px;
}

.story-card__paragraph {
  text-align: left;
  font-size: 18px;
  line-height: 22px;
  padding-bottom: 29px;
}

.story-card__photo {
  display: block;
  width: 100%;
}

@media only screen and (max-width: $desktopWidth) { /* $desktopMediaWidth */

  .story-card {
    width: 250px;
    margin: 5px;
    padding: 15px;
  }

  .story-card__author-nick,
  .story-card__last-update {
    float: none;
    padding: 0;
  }

  .story-card__author-nick {
    display: inline-block;
  }

  .story-card__last-update {
    display: inline-block;
    font-size: 14px;
  }

  .story-card__headline {
    text-align: left;
  }

}







