// more than 1200
.swiper-container.horizontal-scroll {
	// add needed code here (c) Cap
}

@media only screen and (max-width: $desctopWidth) { /* $desctopMediaWidth */

	.swiper-container.horizontal-scroll {
		width: 100%;
		overflow: hidden;
		.swiper-wrapper {
			display: flex;
		}
		.swiper-slide {
			float: left;
		}
	}

}

