.wild-ad-banner {
  background-color: $adsBackgroundColor;
  padding: 19px;
  max-width: 100%;
}

.wild-ad-banner__img {
  display: block;
  margin: 0 auto;
  max-width: 100%;
}

.wild-ad-banner__paragraph {
  color: $adsTextColor;
  font-size: 14px;
  text-transform: uppercase;
  text-align: center;
  padding-top: 10px;
}


