/* begin - style css */

body {
  font-family: signika-light, sans-serif;
  color: $regularColor;
}

.regular-wrapper {
  margin: 0 auto;
  width: 1170px;
  padding: 0 14px;
  font-family: signika-light, sans-serif;
  font-weight: normal;
  position: relative;
  clear: both;
}

.regular-wrapper__ta-c {
  text-align: center;
}

.clear-self {
  display: block;
  &:after {
    content: '';
    display: block;
    clear: both;
  }
}

.card-shadow {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

@media only screen and (max-width: $desctopWidth) { /* $desctopMediaWidth */

  .regular-wrapper {
    width: auto;
    padding: 0;
  }

}

/* end - style css */
