
/* begin - vars css */

$regularColor:             #333333;
$regularColorLight:        #959595;
$regularColorLighter:      #a3a3a3;
$regularColorUltraLight:   #eaeaea;


.regular-wrapper {
  margin: 0 auto;
  width: 1170px;
  padding: 0 14px;
  font-family: signika-regular, sans-serif;
  font-weight: normal;
  color: $regularColor;
}

.clear-self {
  display: block;
  &:after {
    content: '';
    display: block;
    clear: both;
  }
}

/* end - vars css */
