/* begin - vars css */

$regularColor: #333333;
$regularColorLight: #959595;
$regularColorLighter: #a3a3a3;
$regularColorUltraLight: #eaeaea;
$buttonColor: #6cb7ca;
$showHideArrow: #fd7e56;

/* ads */
$adsBackgroundColor: #f0f0f0;
$adsBorderColor: #cccccc;
$adsTextColor: #a2a2a2;

$desctopWidth: 1200px;
$desctopMediaWidth: 1250px;

/* end - vars css */



